*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:#f4f5f7;

}

header{

background:#ff6b35;

padding:20px 70px;

}

nav{

display:flex;

justify-content:space-between;

align-items:center;

}

.logo{

display:flex;

align-items:center;

gap:10px;

color:white;

}

.logo i{

font-size:28px;

}

nav ul{

display:flex;

list-style:none;

gap:30px;

}

nav ul a{

color:white;

text-decoration:none;

font-weight:500;

}

.orders{

padding:60px;

}

.orders h1{

font-size:38px;

margin-bottom:40px;

}

.order-card{

display:flex;

justify-content:space-between;

align-items:center;

background:white;

padding:25px;

border-radius:18px;

margin-bottom:25px;

box-shadow:0 8px 18px rgba(0,0,0,.08);

transition:.35s;

}

.order-card:hover{

transform:translateY(-6px);

}

.left{

display:flex;

align-items:center;

gap:20px;

}

.left img{

width:140px;

height:110px;

border-radius:15px;

object-fit:cover;

}

.left h2{

margin-bottom:10px;

}

.left p{

color:#666;

margin-top:6px;

}

.right{

display:flex;

flex-direction:column;

align-items:center;

gap:18px;

}

.status{

padding:10px 20px;

border-radius:30px;

color:white;

font-weight:600;

}

.delivered{

background:#27ae60;

}

.preparing{

background:#f39c12;

}

.cancelled{

background:#e74c3c;

}

.right a{

background:#ff6b35;

padding:12px 28px;

border-radius:30px;

text-decoration:none;

color:white;

font-weight:600;

transition:.3s;

}

.right a:hover{

background:#222;

}

@media(max-width:900px){

header{

padding:20px;

}

nav{

flex-direction:column;

gap:20px;

}

.orders{

padding:25px;

}

.order-card{

flex-direction:column;

text-align:center;

gap:20px;

}

.left{

flex-direction:column;

}

}