*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#fafafa;
}

header{

background:linear-gradient(135deg,#ff6b35,#ff914d);

color:white;

padding:20px 80px;

}

nav{

display:flex;

justify-content:space-between;

align-items:center;

}

.logo{

display:flex;

align-items:center;

gap:10px;

}

.logo i{

font-size:32px;

}

nav ul{

display:flex;

list-style:none;

gap:35px;

}

nav ul a{

color:white;

text-decoration:none;

font-weight:500;

transition:.3s;

}

nav ul a:hover{

color:#222;

}

.hero{

display:flex;

justify-content:space-between;

align-items:center;

padding:70px 0;

}

.content{

width:50%;

}

.content h1{

font-size:60px;

margin-bottom:20px;

}

.content p{

font-size:18px;

margin-bottom:35px;

}

.btn{

background:white;

color:#ff6b35;

padding:15px 35px;

border-radius:50px;

text-decoration:none;

font-weight:600;

transition:.3s;

}

.btn:hover{

background:#222;

color:white;

}

.image img{

width:500px;

animation:float 3s infinite ease-in-out;

}

.categories{

padding:70px;

}

.categories h2{

margin-bottom:30px;

font-size:35px;

}

.category-box{

display:flex;

justify-content:space-between;

gap:20px;

}

.card{

background:white;

padding:25px;

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

text-align:center;

transition:.4s;

cursor:pointer;

flex:1;

}

.card:hover{

transform:translateY(-10px);

}

.card img{

width:90px;

margin-bottom:15px;

}

.popular{

padding:70px;

}

.popular h2{

margin-bottom:30px;

font-size:35px;

}

.restaurant-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

}

.restaurant-card{

background:white;

border-radius:20px;

overflow:hidden;

box-shadow:0 10px 25px rgba(0,0,0,.08);

transition:.4s;

}

.restaurant-card:hover{

transform:translateY(-10px);

}

.restaurant-card img{

width:100%;

height:230px;

object-fit:cover;

}

.info{

padding:20px;

}

.info h3{

margin-bottom:10px;

}

.info p{

color:#777;

margin-bottom:20px;

}

.info a{

display:inline-block;

background:#ff6b35;

color:white;

padding:12px 25px;

border-radius:30px;

text-decoration:none;

}

footer{

background:#222;

color:white;

text-align:center;

padding:25px;

margin-top:60px;

}

@keyframes float{

0%{
transform:translateY(0);
}

50%{
transform:translateY(-15px);
}

100%{
transform:translateY(0);
}

}

@media(max-width:1000px){

.hero{

flex-direction:column;

text-align:center;

}

.content{

width:100%;

margin-bottom:50px;

}

.restaurant-grid{

grid-template-columns:1fr;

}

.category-box{

flex-wrap:wrap;

}

nav{

flex-direction:column;

gap:20px;

}

}