body{
    background-color:pink;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
    background-image:url()
}

.container{
    background-color:red;
    padding:40px;
    width:500px;
    border-radius:20px;
    border:2px solid blue;
    box-shadow:4px 6px 8px black;
}

h1{
    text-align:center;
}

.items{
    display:flex;
    align-items:center;
    gap:30px;
    margin:25px 0;
}

.items label{
    width:120px;
    color:blue;
    font-family:sans-serif;
    font-weight:bold;
    font-size:20px;
}

.items input{
    padding:10px;
    width:220px;
    border:1px solid grey;
    border-radius:10px;
    font-style:italic;
}

.submit{
    display:flex;
    justify-content:center;
    margin-top:30px;
}

.submit input{
    padding:12px 20px;
    background-color:pink;
    color:blue;
    border:none;
    border-radius:10px;
    font-style:normal;
    cursor:pointer;
}

a{
    text-decoration:none;
}

h4{
    text-align:center;
}